@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --secondary: #00bd80;
  --primary: #1b1d25
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1b1d25;
    --foreground: #ededed;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary:hover {
  background-color: #008858;
}

.input-primary {
  @apply w-full border border-gray-700 rounded-md p-2 focus:border-[var(--secondary)] focus:outline-none;
}

.button-primary {
  @apply flex items-center bg-[var(--secondary)] hover:bg-[#008858] px-2 py-1 rounded h-fit cursor-pointer text-sm;
}

.button-secondary {
  @apply flex items-center bg-[#4a516e] hover:bg-[#282e46] px-2 py-1 rounded h-fit cursor-pointer text-sm;
}